@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* main font: roboto */
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    /* vars */
    --search-bg-color: #ff1218;
    --search-button-color: #900909;
    --search-button-active-color: #c51f1f;
    --page-background-color: #2C3E50E6;
    --hyperlink-color: #ff1216;
    --hyperlink-color-hover: #e11212;
}

body {
    margin: 0;
    color: var(--page-background-color);
}

main {
    width: 60%;
    margin: auto;
}

a {
    color: var(--hyperlink-color);
}

a:hover {
    color: var(--hyperlink-color-hover);
}
